<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ヘッダー</title>
</head>
<body>
<!-- ▼▼/layout/hedder.htmlの内容▼▼ -->
<div class="hedder R">
	<a href="MasterList.html" class="Hsquare_btn" >マスターリスト</a>
	<a href="cart.html" class="square_btn">カート</a>
	<a href="User.html" class="square_btn">ユーザ情報</a>
	<a href="Login.html" class="square_btn">ログインorログアウト</a>
</div>

<!-- ▲▲/layout/hedder.htmlの内容▲▲ -->
</body>
</html>